/*
Colors used

Primary Text Color : White;
Secondary Text Color : Black;
Third Text Color: Gray
Background Color : #008B8B
 */:root {
 /*colors*/
 --body-color: #008B8B;
 --primary-text-color: White;
 --secondary-text-color: black;
 --third-text-color: gray;
 --button-text-color: purple;
 --button-color: #BDB76B;
 --grid-background-color:lightgray;
}

 body {
   font-family: 'Fjalla One', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.6;
   background: var(--body-color);
   }

h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary-text-color);
}
p {
  font-size: 24px;
  font-weight: normal;
  color: var(--primary-text-color);
}
p1 {
  font-size: 24px;
  font-weight: normal;
  color: var(--primary-text-color);
}
p2 {
  font-size: 16px;
  font-weight:normal;
  color: var(--primary-text-color);
}
th {
  font-size: 20px;
  font-weight: bolder;
}
td{
  font-size: 16px;
  font-weight: lighter;
}
a{
	color: var(--primary-text-color);
}

a:visited {
  color: var(--primary-text-color);
}

a:hover, a:focus {
	text-decoration: none;
}

a:active {
	color: var(--primary-text-color);
}

.button, button {
  background-color: var(--button-color);
  font-size: 16px;
  color: var(--button-text-color);

   /* takes the font from the outer container */
  font-family: fjalla one;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  transition-duration: 0.2s;
  transition-property: opacity;
}

button:hover,button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}
.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 25% 10%;
}
.page-footer {
	clear: both;
	display: flex;
	text-align: center;
	flex-direction: column;
}
.profile {
  max-width: 700px;
  margin: 0 auto;
}
.page-header {
  display: flex;
  width: 50%;
  padding: 20px;
}
.page-header__item {
  flex: 0 1 200px
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.navigation-list__item--active {
	text-decoration: none;
}
.grid {
  display: grid;
}
.grid__item {
  background-color: var(--grid-background-color);
  padding: 20px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 500px) (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}
  h1 {
    font-size: 22px;
  }
@keyframes color-change {
      0% {
          fill: #edc655;
        }
        50% {
          fill: #fcffad;
        }
        100% {
          fill: #f76414;
        }
    }
.sun {
      animation: 4s color-change infinite alternate linear;
    }
@keyframes cloud-move {
      from {
        transform: translate(0, 50px);
      }
      to {
        transform: translate(200px, 50px);
      }
    }
    .cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
a {
  color: var(--Primary-text-color);
}
